@import '../../index.scss';

.Header {
    position: relative;
    overflow: hidden;
    background-color: #00539b;
    height: 12rem;

    img.cell {
        padding-top: 15px;
        position: absolute;
        left: 0%;
        top:0%
    }

}